.tiles {
  margin: 5%;
  width: 20%;
}
.tiles__element {
  height: 500px;
  margin-left: 50px;
  align-items: flex-start;
  padding: 20px;
  overflow: hidden;
}
.tiles__container {
  width: 100%;
}
.tiles__content {
  width: 100%;
  height: 90%;
  text-align: left;
  padding: 0;
}
.main-sidebar__header {
  font-size: 2rem;
}
.main-sidebar__userinfo {
  margin-bottom: 30px;
}
.main-sidebar__data {
  height: 90%;
  overflow: hidden;
}
.main-sidebar__notif {
  animation: notificationMove 10s linear 0s normal infinite none running;
}
.main-sidebar__notif__elem {
  padding-bottom: 15px;
  border-bottom: 1px #45b47f solid;
}
@keyframes notificationMove {
  from {
    transform: translateY(320px);
  }
  to {
    transform: translateY(-520px);
  }
}
